// Colors
$dark-blue: #141F24;
$dark-gray: #202f36;
$gray: #37464F;
$light-gray: #7D8990;
$white: #FFFFFF;
$purple: #3B4EFF;
$dark-purple: #3F22EC;
$green: #4FDF65;
$dark-green: #39a449;

$line: $gray;
$primary-text: $white;
$secondary-text: $light-gray;

// Sizes
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

$lg: 1300px;
$md: 1100px;
$sm: 900px;